/* stylelint-disable no-unknown-animations */
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-weight);
}

button {
  border: none;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  background: none;
}

.container {
  inline-size: clamp(375px, 100%, 700px);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  gap: 25px;
  margin-block-end: 100px;
  border: var(--main-border);
  font-family: 'PressStart2P';
  text-transform: uppercase;
  background-color: var(--bg-color);
  block-size: clamp(327px, 49dvb, 368px);
}

.header__logo {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  align-items: center;
  gap: 20px;
  padding-block-start: clamp(0rem, -0.3521rem + 1.5023vw, 1rem);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  grid-row: 3;
  padding-inline-start: 21px;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  font-size: var(--accent-font-size);
}

.theme-menu__button {
  line-height: 0;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inset-block-end: -8px;
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s ease-in-out alternate infinite;
  inset-inline-start: -0.8rem;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus,
.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.content {
  margin-block-end: 50px;
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  border: var(--main-border);
  background-color: var(--bg-color);
}

.card__title {
  border-block-end: var(--main-border);
  padding-inline: 10px;
  padding-block: 3px;
  font-size: var(--main-font-size);
  line-height: 1.38;
  font-variation-settings: 'wght' var(--card-title-weight);
}

@media screen and (width <= 375px) {

  .card__title {
    padding-block-start: 5px;
    padding-block-end: 3px;
    line-height: 1.22;
  }
}

.card__cover {
  position: relative;
  overflow: hidden;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-shadow: var(--label-text-shadow);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: 96%;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

li:nth-child(2) .card__image {
  filter: saturate(30%) brightness(1.2) contrast(0.9);
}

li:nth-child(3) .card__image {
  filter: saturate(400%);
}

li:nth-child(4) .card__image {
  filter: hue-rotate(30deg);
}

li:nth-child(5) .card__image {
  filter: invert() contrast(60%);
}

li:nth-child(6) .card__image {
  filter: sepia(90%);
}

li:nth-child(7) .card__image {
  filter: blur(20px);
}

li:nth-child(8) .card__image {
  filter: hue-rotate(90deg) blur(2px) brightness(120%) contrast(50%);
}

.card__content {
  border-block-start: var(--main-border);
  padding-inline: 25px;
  padding-block-end: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-block: 25px;
  line-height: 1.175;
  font-variation-settings: var(--card-text-weight);
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button {
  padding: 1px;
  outline: var(--border-width) solid rgba(255 255 255 / 0);
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: var(--main-border);
  transition: outline 0.3s ease;
}

.like-icon {
  max-block-size: 31px;
  max-inline-size: 34px;
}

.button {
  position: relative;
  border: var(--main-border);
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 12.5px;
  line-height: 0.6;
  inline-size: 130px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 100px;
  inline-size: 100%;
}

.footer__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: var(--main-border);
  padding-block: 15px;
  background-color: var(--bg-color);
  cursor: pointer;
  inline-size: 65vi;
  min-inline-size: 306px;
  max-inline-size: 335px;
}

.footer__icon {
  color: var(--btn-text-blend-color);
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

@media screen and (width < 490px) {

  .footer__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}

.button__text {
  color: var(--btn-text-blend-color);
  max-inline-size: 266px;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.modal {
  border: var(--main-border);
  padding-inline: 40px;
  padding-block: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: 60%;
  min-inline-size: 341px;
  max-inline-size: 357px;
}

.modal[open] {  
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal::backdrop {
  background-color: rgba(0 0 0 / 0.6);
}

.modal__description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__icon-container {
  inline-size: 39px;
  block-size: 39px;
}

.modal__icon {
  --btn-text-blend-color: var(--accent-color);
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--main-border);
  padding-block: 10px;
  line-height: initial;
  text-align: center;
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {

  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--bg-color);
  }
}
